$font-style: 'Varela Round', sans-serif;
$greenish-blue: rgba(61, 201, 179, 1);
$light-grey :#8c9398;



.parallax{
	background-image: url("/home/innoraft/html/Halcyon_Days/images/hero-bg.jpg");

    min-height: 800px;
    width: auto;

    /*background-attachment:fixed;*/
    background-position: center;
    background-repeat: no-repeat;
  
    background-size: cover;
    text-align: center;
}


.hero{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.float-right {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  padding-right: 100px;
  padding-top: 100px;
  padding-left: 350px;
  padding-bottom: 500px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
	.bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

.button {
  display: inline-block;

  padding: 20px 40px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: $greenish-blue;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 0px 3px 0px 0px #309383;
  font-family: $font-style;
}

#intro {
  background-color: rgb(245, 245, 245);
  padding-top: 20px;
  padding-right: 80px;
  padding-left: 256px;
  padding-bottom: 100px;
  text-align: center;
}

.fadeInDown {
  font-size: 40px;
  letter-spacing: 12px;
  margin: 10px;
  color: #353535;
  font-family: $font-style;
}


.fadeInUp {
  display: block;
  font-family: $font-style;
  color: $light-grey;
  padding-bottom: 60px;
}

#h1, #h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  padding-top: 80px;
  padding-bottom: 3px;
  font-weight: bold;
  font-family: $font-style;
}

.blockquote {
  color: $light-grey ;
  font-family: $font-style;
  font-size: 15px;
}

#a1 {
  color: black;
  font-family: $font-style;
}

#s1 {
  color: #a1a9b0;
  display: inline-block;
}

.intro2 {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
  text-align: center;
  
}

.icon {
  height: 175px;
  width: 175px;
  line-height: 175px;
  max-width: 150%;
  background-color: $greenish-blue;
  border-radius: 100%;
  display: block;
  overflow: hidden;
  color: #fff;
  font-size: 60px;
  text-align: center;
  text-shadow: rgb(54, 192, 164) 1px 1px, rgb(54, 192, 164) 2px 2px, rgb(54, 192, 164) 3px 3px, rgb(54, 192, 164) 4px 4px, rgb(54, 192, 164) 5px 5px, rgb(54, 192, 164) 6px 6px, rgb(54, 192, 164) 7px 7px, rgb(54, 192, 164) 8px 8px, rgb(54, 192, 164) 9px 9px, rgb(54, 192, 164) 10px 10px, rgb(54, 192, 164) 11px 11px, rgb(54, 192, 164) 12px 12px, rgb(54, 192, 164) 13px 13px, rgb(54, 192, 164) 14px 14px, rgb(54, 192, 164) 15px 15px, rgb(54, 192, 164) 16px 16px, rgb(55, 192, 164) 17px 17px, rgb(55, 192, 164) 18px 18px, rgb(55, 192, 164) 19px 19px, rgb(55, 192, 164) 20px 20px, rgb(55, 192, 164) 21px 21px, rgb(55, 192, 164) 22px 22px, rgb(55, 192, 164) 23px 23px, rgb(18, 192, 164) 24px 24px, rgb(18, 192, 164) 25px 25px, rgb(18, 192, 164) 26px 26px, rgb(18, 192, 164) 27px 27px, rgb(18, 192, 164) 28px 28px, rgb(18, 192, 164) 29px 29px, rgb(18, 192, 164) 30px 30px, rgb(55, 192, 164) 31px 31px, rgb(18, 192, 164) 32px 32px, rgb(18, 192, 164) 33px 33px, rgb(18, 192, 164) 34px 34px, rgb(18, 192, 164) 35px 35px, rgb(18, 192, 164) 36px 36px, rgb(18, 192, 164) 37px 37px, rgb(18, 192, 164) 38px 38px, rgb(18, 192, 164) 39px 39px, rgb(18, 192, 164) 40px 40px, rgb(55, 192, 164) 41px 41px, rgb(18, 192, 164) 42px 42px, rgb(18, 192, 164) 43px 43px, rgb(18, 192, 164) 44px 44px, rgb(18, 192, 164) 45px 45px, rgb(18, 192, 164) 46px 46px, rgb(18, 192, 164) 47px 47px, rgb(18, 192, 164) 48px 48px, rgb(18, 192, 164) 49px 49px, rgb(18, 192, 164) 50px 50px, rgb(55, 192, 164) 51px 51px, rgb(18, 192, 164) 52px 52px, rgb(18, 192, 164) 53px 53px, rgb(18, 192, 164) 54px 54px, rgb(18, 192, 164) 55px 55px, rgb(18, 192, 164) 56px 56px, rgb(18, 192, 164) 57px 57px, rgb(18, 192, 164) 58px 58px, rgb(18, 192, 164) 59px 59px, rgb(18, 192, 164) 60px 60px;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 50px;
  box-sizing: border-box;
}

#a2 {
  color: #353535;
  font-family: $font-style;
  font-size: 15px;
  
}
.responsive {
  width: 980px;
  height:650px;
}

.leftHalf {
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  position: absolute;
  left: 56px;
  height: 100%;
}

p {
  color: $light-grey ;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
  margin: 1em 0;
  padding-left: 10px;
  padding-right: 10px;

}

.myCarousel {
  text-align: center;
  background-color: white;
  position: absolute;
  width: 50%;
  right: 0px;
  height: 100%;
  float: right;
  display: block;
}

#h3 {
	padding-left: 200px;
}
hr {
	  display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 11.5em;
    margin-right: 11.5em;
   
   
    border-top: 4px solid $greenish-blue;
    }
    .dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 2px 2px;
  background-color: #fff;
  border-radius: 50%;
  border-width: 3px;
  display: inline-block;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
  transition: background-color 0.6s ease;
  }
.dot:hover {
	
	background-color: #000;
}
#paralx {
	background-image: url(/home/innoraft/html/Halcyon_Days/images/plants-bg.jpg);
	     min-height: 300px;

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
}
#text1 {
	padding-top: 20px;
	font-size: 60px;
  letter-spacing: 12px;
  margin: 10px;
  color: #fff;
  font-family: $font-style;
}
.swag {
  width: 500px;
}
#prblm {
  background-image: url(/home/innoraft/html/Halcyon_Days/images/plants-bg.jpg);
   background-position: center;
    background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
    min-height: 300px;
  
    }
    #swag {
          padding-top: 80px;
          padding-bottom: 80px;
          padding-right: 2px;
          font-family: $font-style;
          color: white;
          letter-spacing: 5px;
          padding-left: 318px;
          font-size: 37px;
    }
    #spn {
      padding-top: 15px;
        font-size: 25px;
        color: white;
    }
   .fa-chevron-circle-down {
    color: $greenish-blue;
    font-size: 40px;

   }

   .image {
    width:100%;
    display: block;
    height: auto;
    padding-top: 90px;
    padding-bottom: 50px;
   }

   #portfolio {
    padding-bottom: 100px;
   }
   
   .ignite {
    background-color: #242830;
    padding: 70px 0;
    text-align: center;
   }
   .ignite-btn {
    display: inline-block;
    padding: 25px 40px;
    color: #fff;
    border: solid 1px #fff;
    text-transform: uppercase;
    font-weight: bold;letter-spacing: 1px;
   }
  html, html a {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  }
  a {
    transition: all 0.5s;
    text-decoration: none;
  }

  .ignite-btn:hover {
    color: rgba(61, 201, 179, 1);
    border-color: rgba(61,201,179,1);  
    text-decoration: none;
  }
  